<div *ngIf="!user">Need to login to add party.</div>
<div *ngIf="user" class="container-fluid">
  <form [formGroup]="addForm" (ngSubmit)="addParty()" class="form-inline">
    <fieldset class="form-group">
      <label for="partyName">Party name</label>
      <input id="partyName" class="form-control" type="text" formControlName="name" placeholder="Party name" />
  
      <label for="description">Description</label>
      <input id="description" class="form-control" type="text" formControlName="description" placeholder="Description">
  
      <label for="location_name">Location</label>
      <input id="location_name" class="form-control" type="text" formControlName="location" placeholder="Location name">
  
      <div class="checkbox">
        <label>
          <input type="checkbox" formControlName="public">
          Public
        </label>
      </div>
  
      <button type="submit" class="btn btn-primary">Add</button>
    </fieldset>    
  </form>
  <!--<form [formGroup]='addForm' (ngSubmit)='addParty()'>
    <label for="name">Name</label>
    <input type="text" placeholder="name" formControlName='name'>

    <label for="description"></label>
    <input type="text" placeholder="description" formControlName='description'>

    <label for="location"></label>
    <input type="text" placeholder="location" formControlName='location'>

    <label for="public">Public</label>
    <input type="checkbox" formControlName="public">

    <button type='submit'>Add</button>
  </form>-->
</div>