<div *ngIf="!user">Need to login to add party.</div>
<div *ngIf="user">
  <form [formGroup]='addForm' (ngSubmit)='addParty()'>
    <label for="name">Name</label>
    <input type="text" placeholder="name" formControlName='name'>

    <label for="description"></label>
    <input type="text" placeholder="description" formControlName='description'>

    <label for="location"></label>
    <input type="text" placeholder="location" formControlName='location'>

    <label for="public">Public</label>
    <input type="checkbox" formControlName="public">

    <button type='submit'>Add</button>
  </form>
</div>